.form-option {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.button-option {
  background-color: white;
  cursor: pointer;
  width: auto;
}

.type {
  border: 1px solid black;
  background-color: aqua;
}
